@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1682014521586') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 0.35rem;

vertical-align: middle;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doubleright:before {
  content: "\eb1d";
}

